<app-form (useradded)="userUpdate($event)"> </app-form>


<div style="text-align: center;">
    <h3>Username and email</h3>
    
    
    <div *ngIf="userData.length>0;then thenblock else elseblock"></div>
    <ng-template #thenblock>
    <ul *ngFor="let users of userData" >
        <li  >
          {{users.username}}----------------> {{users.email}}
        </li>
    </ul>
    </ng-template>
    
    <ng-template #elseblock>
        <p style="color: red;">No data present</p>
    </ng-template>
