<h3>Reactive Form</h3>





<form [formGroup]="contactForm" (submit)="onSubmit()">
    <p>
        <label for="firstName">First Name : </label>
        <input type="text" id="firstname" name="firstname" formControlName="firstName">
        <br>
        <span  *ngIf="!firstname?.valid && (firstname?.touched || firstname?.dirty)">
            <span style="color: red;" *ngIf="firstname?.errors?.['required']">First name is required</span>
            <span style="color: red;" *ngIf="firstname?.errors?.['minlength']">Minimum length is 10 charecters</span>
           
        </span>
    </p>

    <p>
        <label for="lastName">Last Name : </label>
        <input type="text" id="lastname" name="lastname" formControlName="lastName">
    </p>

    <p>
        <label for="email">Email : </label>
        <input type="text" id="'email" name="email" formControlName="email" >
    </p>

    <p>
        <label for="gender">Gender : </label>
        <input type="radio" value="male" id="'gender" name="gender" formControlName="gender" >Male
        <input type="radio" value="female" id="'gender" name="gender" formControlName="gender" >Female
    </p>

    <p>
        <label for="ismarried">Married : </label>
        <input type="checkbox" id="'ismarried" name="ismarried" formControlName="isMarried">
    </p>

    <p>
        <label for="country" >Country : </label>
        <select name="country" id="country" formControlName="country">
            <option  value="1">select</option>
            <option value="2">India</option>
            <option value="3">USA</option>
            <option value="4">UK</option>
        </select>
    </p>
    <div formGroupName="address">

        <p>
            <label for="city">City : </label>
            <input type="text" id="city" name="city" formControlName="city">
        </p>

        <p>
            <label for="street">Street : </label>
            <input type="text" id="street" name="street" formControlName="street">
        </p>

        <p>
            <label for="pincode">Pincode : </label>
            <input type="text" id="pincode" name="pincode" formControlName="pincode">
        </p>
    

    </div>
   
    <p>
        <button type="submit" [disabled]="!contactForm.valid">Submit</button>
    </p>
    
</form>



